body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signout {
    height: 36px;
    width: 120px;
    border-radius: 0;
    border: 1px solid #4285f4;
    background-color: white;
    margin-top: 10px;
}
